{% extends '_base.html' %}

{% block title %}Work page{% endblock %}

{% block content %}
<table class="table table-sm" >
    <thead>
      <tr>
        <th scope="col" >#</th>
        <th scope="col">İş Adı</th>
        <th scope="col">Açıklama</th>
        <th scope="col">Kayıt</th>
        <th scope="col">Güncelleme</th>
        <th scope="col">Komutlar</th>
      </tr>
    </thead>
    <tbody>
      
        {% for work in Works %}
        <tr>
        <th scope="row">{{ work.id }}</th>
        <td>{{ work.name }}</td>
        <td>{{ work.detail }}</td>
        <td>{{ work.dateCreate }}</td>
        <td>{{ work.dateUpdate }}</td>
        <td>
            <a href="{% url 'Work_create' %}" class="btn btn-primary" role="button">Add</a>
            <a href="{% url 'Work_delete' work.pk %}" class="btn btn-danger" role="button">Delete</a>
            <a href="{% url 'Work_update' work.pk %}" class="btn btn-warning" role="button">Update</a>
            <a href="{% url 'Work_detail' work.pk %}" class="btn btn-info" role="button">İnfo</a>
        </td>

        </tr>
        {% empty %}
        <h3>No works yet.</h3>
        <a href="{% url 'Work_create' %}">Add work</a>
        {% endfor %}

    </tbody>
  </table>
  

{% endblock content %}